body{
  margin: 0;
}

p {
  margin: 0;
  font-size: 20px;
}

a {
  font-size: 20px;
}

header {
  background-color: rgb(244, 79, 79);
  text-align: center;
  margin-bottom: 20px;
}

h1 {
  margin: 0;
  color: rgb(255, 255, 255);
}

main {
  margin: 10px;
}

#parent {
  display: flex;
  justify-content: space-around;
  
}

.contents {
  border: solid 3px rgb(238, 204, 204);
  flex-basis: 25%;
  margin: 20px 0;
  padding: 10px 15px;
  text-align: center;

}

h2 {
  font-size: 25px;
  border-bottom: dashed 3px rgb(236, 122, 122);
}

p:nth-of-type(2)::first-letter {
  color: rgb(97, 206, 249);
}

h2::before {
  content: "â—";
  color: rgb(239, 111, 139);
}

.contents>img {
  width: 70%;
  margin: 10px 0;
}

footer {
  background-color: rgb(244, 79, 79);
  text-align: center;
}

a:link {
  color: rgb(255, 255, 255);
}

a:visited {
  color: rgb(193, 234, 251);
}

a:hover {
  color: rgb(245, 178, 168);
}

@media screen and (max-width: 768px) {
  #parent {
    flex-direction: column;
  }

  h2 {
    font-size: 20px;
  }

  p {
    font-size: 25px;
  }
}
